#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application

Name=JClicker
Comment=DBus based autoclicker for linux written in java
Categories=Utility;Java;

Icon=dev.davidcms.jclicker
Exec=JClicker
Terminal=false
